* {
    margin: 0;
    padding: 0;
    box-sizing: auto;
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.animationContaner {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    overflow: hidden;
    /* z-index: -1; */
}

.boble {
    transition: all 1s ease-in-out;
    width: var(--size);
    height: var(--size);
    background: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 50%;
    transform: translate(var(--x), var(--y)) scale(var(--scale));
    /* animation: animate .5s infinite; */
}

.forgetPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.567);
    position: relative;
}

.emailBlock {
    width: max(60%, 500px);
    height: 80%;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: 0 0 0 2px blue;
    display: grid;
    grid-template-rows: 1fr 2fr 1.3fr;
    grid-template-columns: 1fr;
}

.emailBlock .heading {
    font-size: clamp(1.9rem, 4vw, 2.9rem);
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    position: relative;
    justify-content: space-around;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
}

.content label {
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-family: Arial, Helvetica, sans-serif;
    top: 3rem;
}

.content #emailVerifyButton {
    font-size: clamp(1.1rem, 3vw, 1.6rem);
    font-family: Arial, Helvetica, sans-serif;
    top: -3rem;
    width: 40%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: blue;
    color: white;
    cursor: pointer;
}

#emailerror {
    position: absolute;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    left: 12%;
    top: 22%;
}

.content input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}

.otpBlock {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.542);
}

.otpInputContainer {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.otpInputContainer span {
    font-size: clamp(.9rem, 2vw, 1.3rem);
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
}

.otpInputContainer input {
    width: 40%;
    height: 25%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}

.otpVerifyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

#otperror {
    position: relative;
    top: -10px;
    color: red;
}

#otpVerifyButton {
    font-size: clamp(1rem, 3vw, 1.6rem);
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    height: 50%;
    border-radius: 5px;
    border: 1px solid white;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.changePasswordBlock {
    display: none;
}