
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7fb;
}

/* HEADER */

header{
    width:100%;
    height:70px;
    background:#0d6efd;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    color:white;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:25px;
    font-weight:bold;
}

.searchBar{
    width:40%;
}

.searchBar input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    outline:none;
    font-size:15px;
}

.adminProfile{
    display:flex;
    align-items:center;
    gap:10px;
}

.adminProfile img{
    width:45px;
    height:45px;
    border-radius:50%;
    border: 2px solid #063a8a;
    object-fit:cover;
}

.profileContainer{
    transition: all .5s ease-in-out;
    position:fixed;
    width: 100%;
    height: 0vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.877);
    z-index: 100;
    padding:30px;
    transform: translateY(-730px);
    display:block;
}
#profileContainerBack{
    position:absolute;
    width: 20px;
    height: 20px;
    top: 2.5rem;
    right: 2.5rem;
    background: black;
    z-index: 11;
    border-radius: 100%;
}
#profileContainerBack:hover{
    animation: buttonbloting 3s ease-in-out infinite;

}
@keyframes buttonbloting {
     0%{
        box-shadow:0 0 1px 2px black,
        0 0 1px 4px rgba(0, 0, 0, 0.468),
        0 0 1px 6px rgba(255, 255, 255, 0.507);
    }
    50%{
        box-shadow:0 0 1px 2px rgba(0, 0, 0, 0.468),
        0 0 1px 4px rgba(255, 255, 255, 0.507), 
        0 0 1px 6px black;
    }
     100%{
        box-shadow:0 0 1px 2px black,
        0 0 1px 4px rgba(0, 0, 0, 0.468),
        0 0 1px 6px rgba(255, 255, 255, 0.507);
    }
}
.showProfileContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: #063a8a;
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    animation: fadeIn 0.4s ease;
    box-sizing: border-box;
    padding: 10px;
}

.adminProfileHeader {
    color: white;
    padding: 25px;
    display: grid;
    grid-template-columns: .2fr 2fr;
    align-content: center;
    gap: 15px;
}

.adminProfileHeader .adminProfileImage {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}
#fullProfileImageContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
#fullProfileImage{
    width: 500px;
    height: 500px;
    border-radius: 5px;
}
.profileFooter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
#changeProfileImage,#back{
    padding: 12px 20px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#back{
    border: 1px solid #2563eb;
    background-color: black;
}
.adminProfileHeader h2 {
    margin: 20px;
    font-size: clamp(22px, 5vw, 28px);
}

.adminProfileHeader p {
    margin: 20px;
    opacity: 0.9;
}
.adminProfileBody {
    padding: 20px;
    height: 100%;
    border-radius: 10px;
    /* background-color: red; */
    overflow-x: hidden;
    box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,0.1);
}
::-webkit-scrollbar{
    display: none;
}
.profileItem {
    margin-bottom: 18px;
    border-bottom: 1px solid #827e7e;
    padding-bottom: 10px;
}

.profileItem span {
    font-size: 16px;
    letter-spacing: 1px;
    color: rgb(186, 185, 185);
}

.profileItem p {
    margin: 5px 0 0;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
    color: #100e0e;
}
#adminJoinDateInput, #adminDateOfBirthInput, #adminGenderInput, #adminPhoneInput, #adminEmailInput,#adminNameInput{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: #100e0e;
    outline: none;
    font-size: 16px;
    background: transparent;
}
.adminProfileFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
}

.editProfileBtn,
.logoutBtn {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}

.editProfileBtn {
    background: #2563eb;
    color: white;
}

.editProfileBtn:hover {
    background: #1d4ed8;
}

.logoutBtn {
    background: #ef4444;
    color: white;
}

.logoutBtn:hover {
    background: #dc2626;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
#homePageAdminName{
    cursor: pointer;
}
/* MAIN CONTAINER */

.container{
    display:flex;
    position: relative;
}

/* SIDEBAR */

.sidebar{
    width:250px;
    min-height:100vh;
    background:#1f2937;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.sidebar ul li:hover{
    background:#374151;
    transform: scale(1.05);
}
#doctorManagementBlock , #patientManagementBlock{
    width: 0%;
    height: auto;
    position: absolute;
    left: 17%;
    top: 0;
    transition: all 0.5s ease;
    display: none;
    opacity: 0;
}
.doctorManagementContainer,.patientManagementContainer{
    width:100%;
    min-height:100vh;
    background:#f4f7fb;
    padding:20px;
}

.doctorManagementHeader,.patientManagementHeader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.doctorManagementHeader h1,.patientManagementHeader h1{
    color:#1e293b;
}

.addDoctorBtn{
    padding:12px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
}

.addDoctorBtn:hover{
    background:#1d4ed8;
}

.doctorSearchContainer,.patientSearchContainer{
    margin-bottom:20px;
}

.doctorSearchContainer input,.patientSearchContainer input{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:1px solid #ccc;
    outline:none;
}

.doctorCardsContainer{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:20px;
}

.doctorCard{
    background:white;
    border-radius:15px;
    color: black;
    padding:20px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.1);
}

.doctorTopSection{
    display:flex;
    align-items:center;
    gap:15px;
    margin-bottom:20px;
}

.doctorTopSection img{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}

.doctorTopSection h2{
    margin-bottom:5px;
}

.doctorTopSection p{
    color:gray;
}

.doctorDetails{
    margin-bottom:20px;
}

.doctorInfo{
    margin-bottom:12px;
}

.doctorInfo span{
    font-size:14px;
    color:gray;
}

.doctorInfo p{
    font-size:16px;
    margin-top:3px;
}

.doctorButtons{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.updateBtn,
.timingBtn,
.deleteBtn{
    flex:1;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    color:white;
    font-size:14px;
}

.updateBtn{
    background:#2563eb;
}

.timingBtn{
    background:#16a34a;
}

.deleteBtn{
    background:#dc2626;
}

.popupContainer{
    width:100%;
    height:100vh;
    background:rgba(0, 0, 0, 0.912);
    position:fixed;
    top:0;
    left:0;
    z-index: 1000;
    display:none;
    justify-content:center;
    align-items:center;
}

.popupBox{
    width:400px;
    background:white;
    border-radius:15px;
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.popupBox input{
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
}

.popupButtons{
    display:flex;
    gap:10px;
}

.popupButtons button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* CONTENT */

.content{
    flex:1;
    padding:25px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow:0 6px 15px rgba(0,0,0,0.2);
    /* transform: translateY(-5px); */
    transform: scale(1.02);
    transition: all 0.3s ease;
    cursor: default;
}

.card h3{
    color:#3f3c3c;
    margin-bottom:10px;
}

.card p{
    font-size:28px;
    font-weight:bold;
    color:#0d6efd;
    display: inline;
}
.card p:hover{
    font-size:28px;
    font-weight:bold;
    color:black;
    cursor: pointer;
}

/* SCHEDULE SECTION */

.scheduleSection{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

/* TABLE */

.scheduleTable{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.scheduleTable table{
    width:100%;
    border-collapse:collapse;
}

.scheduleTable th,
.scheduleTable td{
    padding:15px;
    border-bottom:1px solid #ddd;
    text-align:left;
}

.scheduleTable th{
    background:#0d6efd;
    color:white;
    cursor: default;
}
.scheduleTable tr:hover {
    background:rgb(194, 192, 192);
    cursor: pointer;
}

/* NOTICE */

.notice{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.notice h3{
    margin-bottom:15px;
}

.notice ul{
    padding-left:20px;
}

.notice ul li{
    margin-bottom:15px;
}

/* FOOTER */

footer{
    margin-top:30px;
    background:#1f2937;
    color:white;
    text-align:center;
    padding:15px;
}

/* RESPONSIVE */

@media(max-width:900px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        min-height:auto;
    }

    .scheduleSection{
        grid-template-columns:1fr;
    }

    .searchBar{
        width:50%;
    }

}

@media(max-width:600px){

    header{
        flex-direction:column;
        height:auto;
        gap:15px;
        padding:15px;
    }

    .searchBar{
        width:100%;
    }

}
@media(max-width:350px){

    header{
        flex-direction:column;
        height:auto;
        gap:15px;
        padding:15px;
    }

    .searchBar{
        width:100%;
    }

}
